@import "../../assets/styles/variables";
@import "../../assets/styles/media";

$input-amount: 4;

.form-code {
  position: relative;
  width: 100%;
  max-width: 361px;
  height: 676px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px;
  background-image: url("../../assets/images/phone.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  &__button-enter {
    text-align: center;
  }

  &__input {
    width: calc(100% / #{$input-amount});

    input {
      width: 50px;
      height: 50px;
      font-size: 40px;
      font-family: $font-family-primary;
      line-height: 1;
      text-align: center;
      border: 1px solid $color-black;
      outline: none;
      pointer-events: none;
    }
  }

  &__input-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
  }

  &__interface {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 250px;
  }

  &__stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    color: $color-white;
    font-size: 14px;
    font-family: $font-family-secondary;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      font-size: 16px;
    }
  }

  &__stats-attempts-value {
    display: inline-block;
    min-width: 12px;
  }
}

.form-code-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}
