@import "../../assets/styles/variables";

$input-amount: 4;

.form-code {
  position: relative;
  max-width: 361px;
  width: 100%;
  height: 676px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px;
  background-image: url("../../assets/images/phone.png");
  background-size: 100% 100%;

  &__button-enter {
    text-align: center;
  }

  &__input {
    width: calc(100% / #{$input-amount});

    input {
      height: 50px;
      font-family: $font-family-primary;
      font-size: 40px;
      text-align: center;
      border: 1px solid #000;
      pointer-events: none;
      outline: none;
    }
  }

  &__input-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 190px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
  }

  &__interface {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 250px;
  }

  &__stats {
    display: flex;
    justify-content: space-around;
    font-family: $font-family-secondary;
    margin-bottom: 16px;
    padding-right: 12px;
    padding-left: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  &__stats-attempts-value {
    display: inline-block;
    min-width: 12px;
  }
}

.form-code-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
