$input-amount: 4;

.form-code {
  max-width: 400px;

  &__input {
    width: calc(100% / #{$input-amount});

    input {
      height: 50px;
      text-align: center;
      font-size: 30px;
    }
  }

  &__input-group {
    display: flex;
    flex-wrap: wrap;
  }
}
