@import "../../assets/styles/variables";

.form-code__game-over {
  position: absolute;
  right: 0;
  bottom: 110px;
  left: 0;
  color: $color-white;
  text-align: center;

  h2,
  h3 {
    font-weight: 500;
  }
}
