@import "../../assets/styles/variables.scss";

.about {
  color: $color-white;
  font-size: 24px;

  a {
    color: $link-color;
  }
}

.about__github {
  position: relative;
  top: 4px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-left: 8px;
}
