@import "../../assets/styles/variables";
@import "../../assets/styles/media";

.scoreboard {
  font-size: 16px;
  line-height: 1.3;

  @include tablet {
    font-size: 32px;
  }

  &__item-index {
    flex-basis: 10%;
    color: $card-text-color;

    @include tablet {
      flex-basis: 5%;
    }
  }

  &__item-username {
    flex-basis: 25%;

    @include tablet {
      flex-basis: 20%;
    }
  }

  &__item-code {
    flex-basis: 15%;
    color: $color-valid-digit;

    @include tablet {
      flex-basis: 10%;
    }
  }

  &__item-score {
    flex-basis: 15%;

    @include tablet {
      flex-basis: 10%;
    }
  }

  &__item-attempts {
    flex-basis: 10%;
    color: $card-text-color;

    @include tablet {
      flex-basis: 5%;
    }
  }

  &__item-company {
    flex-basis: 25%;

    @include tablet {
      flex-basis: 25%;
    }
  }

  &__item-comment {
    flex-basis: 100%;
    color: $card-text-color;

    @include tablet {
      flex-basis: 25%;
    }
  }

  &__list-item {
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;

    @include tablet {
      flex-wrap: nowrap;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    > *:not(:last-child) {
      padding-right: 4px;
    }
  }

  &__title {
    text-align: center;
  }
}
