.scoreboard {
  font-size: 32px;

  &__item-attempts {
    flex-basis: 5%;
  }

  &__item-comment {
    flex-basis: 25%;
  }

  &__item-company {
    flex-basis: 30%;
  }

  &__item-index {
    flex-basis: 5%;
  }

  &__item-score {
    flex-basis: 5%;
  }

  &__item-username {
    flex-basis: 30%;
  }

  &__list-item {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    text-align: center;
  }
}
