@import "../../assets/styles/variables";
@import "../../assets/styles/media";

.game-menu {
  padding: 0 8px;
  color: $link-color;
  text-transform: uppercase;

  @include tablet {
    padding: 0;
  }

  button {
    text-transform: uppercase;
    border: 0;
    border: 1px solid transparent;
  }

  a,
  button {
    display: inline-block;
    padding: 8px 12px;
    color: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: none;
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    transition-duration: $transition-duration;
    transition-property: border, box-shadow;

    @include tablet {
      font-size: 32px;
    }

    &:focus,
    &:hover,
    &:active,
    &.is-active {
      border: 1px solid $color-white;
      box-shadow: inset 0 0 8px 1px $link-color, 0 0 8px 1px $link-color;
      transition-duration: $transition-duration;
      transition-property: border, box-shadow;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: block;
    }
  }
}
