@import "../../assets/styles/variables";

.instructions {
  font-size: 24px;

  a {
    color: #fef2a4;
  }
}

.icon-invalid-placement {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: $color-invalid-placement;
}

.icon-invalid-digit {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-color: $color-invalid-digit;
}

.icon-valid-digit {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-color: $color-valid-digit;
}
