@import "assets/styles//variables";
@import "assets/styles/index";

#root {
  height: 100%;
}

.App {
  height: 100%;
  background-image: url("assets/images/main.jpg");
  background-size: cover;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    .aside {
      flex-basis: 20%;
    }

    .main {
      flex-basis: 100%;

      @media (min-width: 768px) {
        flex-basis: 80%;
      }
    }
  }
}

.input {
  background-color: #f6f6f6;

  &.is-invalid {
    background-color: $color-invalid-digit;
  }

  &.is-exist {
    border-radius: 50%;
    background-color: $color-invalid-placement;
  }

  &.is-valid {
    background-color: $color-valid-digit;
  }
}

.full-width {
  width: 100%;
}
