@import "assets/styles//variables";
@import "assets/styles/index";

#root {
  height: 100%;
}

.App {
  height: 100%;
  background-image: url("assets/images/main.jpg");
  background-size: cover;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;

    .aside {
      flex-basis: 100%;
      text-align: center;

      @media (min-width: 768px) {
        flex-basis: 20%;
        text-align: left;
      }
    }

    .main {
      flex-basis: 100%;

      &:only-child {
        flex-basis: 100%;
      }

      @media (min-width: 768px) {
        flex-basis: 80%;
      }
    }
  }
}

.full-width {
  width: 100%;
}
