.button {
  padding: 8px 12px;
  border-radius: 8px;

  &:disabled {
    color: $state-disabled;
    opacity: 0.5;
    pointer-events: none;
  }
}

.button-decrement {
  display: block;
  width: 45px;
  height: 9px;
  background-image: url("../../assets/images/chevron-down.png");
  border: 0;
}

.button-increment {
  display: block;
  width: 45px;
  height: 9px;
  background-image: url("../../assets/images/chevron-up.png");
  border: 0;
}

.button-enter {
  width: 105px;
  height: 44px;
  background-image: url("../../assets/images/button-enter.png");
  border: 0;
}
