.button-decrement {
  display: block;
  border: 0;
  background-image: url("../../assets/images/chevron-down.png");
  width: 45px;
  height: 9px;
}

.button-increment {
  display: block;
  border: 0;
  background-image: url("../../assets/images/chevron-up.png");
  width: 45px;
  height: 9px;
}

.button-enter {
  border: 0;
  background-image: url("../../assets/images/button-enter.png");
  width: 105px;
  height: 44px;
}
