@import "../styles/variables";

.card {
  padding: 16px;
  color: $card-text-color;
  background-color: $card-background-color;
  border: 8px solid $card-border-color;
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px $card-shadow-color;
}
