@font-face {
  font-family: "DIN Condensed";
  src: url("../fonts/din-condensed-bold.woff2") format("woff2"),
    url("../fonts/din-condensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Magistral";
  src: url("../fonts/magistral-medium.woff2") format("woff2"),
    url("../fonts/magistral-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
