@import "../styles/variables";

.label {
  font-size: 24px;
}

.input-group-stacked {
  .label {
    display: block;
  }
}

.input {
  padding: 8px;
  background-color: $input-background-color;
  border-radius: 8px;

  &.is-focus {
    box-shadow: inset 0 0 0 3px $card-text-color;
  }

  &.is-invalid {
    background-color: $color-invalid-digit;
  }

  &.is-exist {
    background-color: $color-invalid-placement;
    border-radius: 50%;
  }

  &.is-valid {
    background-color: $color-valid-digit;
  }

  &--full-width {
    width: 100%;
  }
}
