@import "../styles/variables";

.label {
  font-size: 24px;
}

.input-group-stacked {
  margin-bottom: 16px;

  .label {
    display: block;
  }
}

.input {
  padding: 8px;
  background-color: $input-background-color;
  border: 4px solid transparent;
  border-radius: 8px;
  transition-duration: $transition-duration;
  transition-property: border-color;

  &:focus,
  &:hover,
  &:active {
    border: 4px solid $input-border-active;
    outline: none;
    transition-duration: $transition-duration;
    transition-property: border-color;
  }

  &.is-focus {
    box-shadow: inset 0 0 0 3px $card-text-color;
  }

  &.is-invalid {
    background-color: $color-invalid-digit;
  }

  &.is-exist {
    background-color: $color-invalid-place;
    border-radius: 50%;
  }

  &.is-valid {
    background-color: $color-valid-digit;
  }

  &--full-width {
    width: 100%;
  }
}
