@import "./variables";
@import "./fonts";
@import "./button";
@import "./media";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: $color-black;
  font-size: 16px;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

select {
  background-color: $color-white;
  border-radius: 0;
  appearance: none;
}

svg {
  fill: currentColor;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
