@import "variables";

@mixin link-hover {
  text-decoration: none;
  border-bottom: 2px solid $link-color;
  transition-duration: $transition-duration;
  transition-property: border-bottom-color;

  &:focus,
  &:hover,
  &:active {
    border-bottom-color: transparent;
    transition-duration: $transition-duration;
    transition-property: border-bottom-color;
  }
}
