/* stylelint-disable */
$color-white: #fff;
$color-black: #000;

// Fonts
$font-family-primary: "DIN Condensed", "Ubuntu", -apple-system,
  BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-secondary: "Magistral", sans-serif;

// Colors
$link-color: #fef2a4;
$card-text-color: #fef2a4;
$color-invalid-placement: #bd9238;
$color-invalid-digit: #990000;
$color-valid-digit: #00fe00;

// Container
$container-width-lg: 1400px;

// Transition
$transition-duration: 0.3s;
