/* stylelint-disable */
$color-white: #fff;
$color-black: #000;

// Colors
$color-invalid-placement: #bd9238;
$color-invalid-digit: #990000;
$color-valid-digit: #00fe00;

// Container
$container-width-lg: 1400px;
